// 🌞 Thème Light - Appliqué si `.light` est ajouté au `<body>`
.light {
    --background: #fef6dd;
    --color1: #9d8640;
    --color2: #e0ce93;
    --color3: #403d22;
    --white: #ffffff;
    --black: #000000;
    --grey: #d9d9d9;
}
